html, body{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
canvas{
	max-width: 100%;
	background: url('../img/background.png') center center no-repeat;
	background-size: cover;
}
